* {
  margin: 0;
  padding: 0;
}

.width-80 {
  width: 80%;
}

.width-100{
  width: 100%;
}

.contentCard {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
}

.resultContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWidth {
  width: 250px;
}

.videoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-image: url("/src/img/instagram-background-gradient.png");
  background-size: cover;
  width: 100%;
  height: 110vh;
  margin: 0;
}

#inputUrl {
  width: 60%;
  border-radius: 20px;
  padding: 4px 15px;
  outline: 1px solid #bbbbbb;
  transition: .4s ease-in-out;
  border: 1px solid #bbbbbb;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

#inputUrl:focus {
  outline: 1px solid #000000;
  border: 1px solid #000000;
}

.button {
  padding: 8px 26px;
  border-radius: 20px;
  border: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}